<div class="post">
  <div class="header">
    <h1>Post Title</h1>
    <button class="btn btn-link">Home page</button>
  </div>
  <div class="info">
    <strong>Имя автора</strong>
    <small>23.32.2022</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ducimus libero non perspiciatis quo ullam! Dolores dolorum fugiat laborum officia omnis quia velit? Consectetur corporis dolor error est facilis fugiat hic illum itaque maiores maxime pariatur quam, recusandae sit tempore, veniam voluptate voluptatem! Autem incidunt minima necessitatibus quibusdam repellat sequi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ducimus libero non perspiciatis quo ullam! Dolores dolorum fugiat laborum officia omnis quia velit? Consectetur corporis dolor error est facilis fugiat hic illum itaque maiores maxime pariatur quam, recusandae sit tempore, veniam voluptate voluptatem! Autem incidunt minima necessitatibus quibusdam repellat sequi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ducimus libero non perspiciatis quo ullam! Dolores dolorum fugiat laborum officia omnis quia velit? Consectetur corporis dolor error est facilis fugiat hic illum itaque maiores maxime pariatur quam, recusandae sit tempore, veniam voluptate voluptatem! Autem incidunt minima necessitatibus quibusdam repellat sequi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ducimus libero non perspiciatis quo ullam! Dolores dolorum fugiat laborum officia omnis quia velit? Consectetur corporis dolor error est facilis fugiat hic illum itaque maiores maxime pariatur quam, recusandae sit tempore, veniam voluptate voluptatem! Autem incidunt minima necessitatibus quibusdam repellat sequi. </p>
  </div>
</div>
