<form [formGroup]="form" (ngSubmit)="submit()" class="admin_postForm">
  <h1>Создание нового поста</h1>

  <div class="form-control"
       [ngClass]="{invalid: validCheck(fieldFormConsts.title.name)}">
    <label for="title">Название поста:</label>
    <input id="title" type="text" formControlName="title">
    <div *ngIf="validCheck(fieldFormConsts.title.name)" class="validation">
      <small *ngIf="form.get('title')?.errors?.required">
        Введите название поста
      </small>
    </div>
  </div>

  <div class="form-control">
    <label>Контент поста:</label>
    <quill-editor formControlName="text"></quill-editor>
  </div>

  <div class="form-control"
       [ngClass]="{invalid: validCheck(fieldFormConsts.author.name)}"
  >
    <label for="author">Автор поста:</label>
    <input id="author" type="text" formControlName="author">
    <div *ngIf="validCheck(fieldFormConsts.author.name)" class="validation">
      <small *ngIf="form.get('author')?.errors?.required">
        Введите автора поста
      </small>
    </div>
  </div>

  <button type="submit"
          class="btn btn-block btn-dark"
          [disabled]="form.invalid">
    Создать пост
  </button>
</form>
