<form class="admin_postForm"
      [formGroup]="form"
      (ngSubmit)="submit()" >
  <h1>Создание нового поста</h1>

  <div class="form-control"
       [ngClass]="{invalid: checkValid(fieldFormConsts.title.name)}">
    <label for="title">Название поста:</label>
    <input id="title" type="text" [formControlName]="fieldFormConsts.title.name">
    <div *ngIf="checkValid(fieldFormConsts.title.name)" class="validation">
      <small *ngIf="form.get(fieldFormConsts.title.name)?.errors?.required">
        Введите название поста
      </small>
    </div>
  </div>

  <div class="form-control">
    <label>Контент поста:</label>
    <quill-editor formControlName="text"></quill-editor>
  </div>

  <div class="form-control"
       [ngClass]="{invalid: checkValid(fieldFormConsts.author.name)}">
    <label for="author">Автор поста:</label>
    <input id="author" type="text" [formControlName]="fieldFormConsts.author.name">
    <div *ngIf="checkValid(fieldFormConsts.author.name)" class="validation">
      <small *ngIf="form.get(fieldFormConsts.author.name)?.errors?.required">
        Введите автора поста
      </small>
    </div>
  </div>

  <button type="submit"
          class="btn btn-block btn-dark"
          [disabled]="form.invalid">
    Создать пост
  </button>
</form>
