<nav class="navbar bg-primary">
  <h1>
    <a [routerLink]="routeConfig.home.fullpath">Angular Admin</a>
  </h1>
  <ul *ngIf="auth.isAuthenticated()">
    <li routerLinkActive="active">
      <a [routerLink]="[routeConfig.adminPage.fullpath, routeConfig.adminDashboard.path]">
        Главная
      </a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="[routeConfig.adminPage.fullpath, routeConfig.adminCreate.path]">
        Создать
      </a>
    </li>
    <li>
      <a href="#" (click)="logout($event)">Выйти</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
